h2.abouttitle {
	display: flex;
	padding-left: 10vw;
	color: green;
	font-size: 50px;
}

p.product{
	display: flex;
	justify-content: center;

}
article.wrapper {
	height: 100vh;
    display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  background: white;
  }
